.Appointments
{
        margin: 5px;
        width: 50%;
        height: 5em;
        border-width: 3px;
        border-style: solid;
        border-color: white;
        border-radius: 12px;
        

}