.Appointments
{
        margin: 5px;
        width: 95%;
        height: 12em;
        border-width: 3px;
        border-style: solid;
        border-color: white;
        border-radius: 12px;
        

}