

.User {
    text-align: center;
    background: #282c34;
}

.navBar2{
    font-size: calc(10px + 2vmin);
    align-items: right;
}
.User-Section {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: calc(10px + 2vmin);
    color: white;
}
.left {
    display: flex;
    flex-direction: column;
    width: 75%;
} 

.all {
    width: 90%;
    display: flex;
    flex-direction: row;
    
}
