.forum
{
        margin: 5px;
        padding: 20px;
        width: fit-content;
        height: fit-content;
        border-width: 3px;
        border-style: solid;
        border-color: white;
        border-radius: 12px;
        

}