body {
    margin: 0;
}

.App {
    text-align: center;
    background: #282c34;
}

.App-logo {
    height: 40vmin;
}

.App-header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: calc(10px + 2vmin);
    color: white;
    justify-content: space-around;
    
}

.App-link {
    text-decoration: none;
    
}

.forum
{
        margin: 5px;
        padding: 20px;
        width: fit-content;
        height: fit-content;
        border-width: 3px;
        border-style: solid;
        border-color: white;
        border-radius: 12px;
        

}
.FrontImage 
{
    position: relative;
    width: 100%;
    opacity: 20%;
}
.buttons {
    height: 70px;
    min-width: 155px;
    width: auto;
    background-color: rgb(100, 105, 129);
    border: none;
    color: white;
    padding: 17px, 30px;
    margin: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    border-radius: 4px;
    font-family: Palatino, "Palatino Linotype";
    vertical-align: middle;
    
}
.buttons:hover {
    background-color: #ff7500;
}
.section{
    margin: 5px;
    width: 20%;
    border-width: 3px;
    border-style: solid;
    border-color: rgb(153, 153, 153);
    background-color: rgb(153, 153, 153);
    border-radius: 12px;
    position: absolute;
}