body {
    margin: 0;
}
.footer{
    text-align: center;
    vertical-align: middle;
    padding: 12px;
}
.Image-background {
    /* background:url("https://m.ufhealth.org/sites/default/files/hvnm_0.jpg") no-repeat center;
    background-size:cover;
    text-align:center; */
    background: radial-gradient(circle, black, white);
}

.App {
    text-align: center;
    background: #ffffff;
}

.App-logo {
    height: 40vmin;
}

.App-header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: calc(10px + 2vmin);
    color: black;
    justify-content: space-around;
    
}

.App-link {
    text-decoration: none;
    
}

.FrontImage 
{
    position: relative;
    width: 100%;
    opacity: 40%;
}
.buttons {
    height: 70px;
    min-width: 155px;
    width: auto;
    background-color: white;
    border: none;
    color: white;
    padding: 17px, 30px;
    margin: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    border-radius: 4px;
    /* font-family: Palatino, "Palatino Linotype"; */
    vertical-align: middle;
    
}
.buttons:hover {
    background-color: #ff7500;
}
.section{
    padding: 75px;
    width: 40%;
    /* border-width: 3px;
    border-style: solid;*/
    border-color: rgb(177, 177, 177);
    /* background-color: rgba(43, 36, 36, 0.596); */
    border-radius: 12px;
    position: absolute;
}
